<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="homeStyle/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Book</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
        <!--
        CSS
        ============================================= -->
        <link rel="stylesheet" href="homeStyle/css/linearicons.css">
        <link rel="stylesheet" href="homeStyle/css/font-awesome.min.css">
        <link rel="stylesheet" href="homeStyle/css/bootstrap.css">
        <link rel="stylesheet" href="homeStyle/css/magnific-popup.css">
        <link rel="stylesheet" href="homeStyle/css/nice-select.css">					
        <link rel="stylesheet" href="homeStyle/css/animate.min.css">
        <link rel="stylesheet" href="homeStyle/css/owl.carousel.css">
        <link rel="stylesheet" href="homeStyle/css/main.css">
    </head>
    <body>

          <header id="header" id="home">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                  <div id="logo">
                    <a href="index.html"><img src="homeStyle/img/logo3.png" style="width: 180px; height: 50px;" alt="" title="" /></a>
                  </div>
                  <nav id="nav-menu-container">
                    <ul class="nav-menu">
                      <li class="menu-active"><a href="#home">Accueil</a></li>
                      <li><a href="#fact">À Propos</a></li>
                      <li><a href="#course">Meilleurs Livres</a></li>
                      <li><a href="#mea">Meilleurs Auteurs</a></li>
                      <li><a href="#price">Cours</a></li>
                      <li class="menu-has-children"><a href="">Info</a>
                        <ul style="background-color: black; height: 125px; width: 160px; border-radius: 10px;">
                          <li><button class="bty">
                            B O O K
                            <div id="clip">
                                <div id="leftTop" class="corner"></div>
                                <div id="rightBottom" class="corner"></div>
                                <div id="rightTop" class="corner"></div>
                                <div id="leftBottom" class="corner"></div>
                            </div>
                            <span id="rightArrow" class="arrow"></span>
                            <span id="leftArrow" class="arrow"></span>
                        </button></li>
                          <li><button class="bty">
                            A U T H O R S
                            <div id="clip">
                                <div id="leftTop" class="corner"></div>
                                <div id="rightBottom" class="corner"></div>
                                <div id="rightTop" class="corner"></div>
                                <div id="leftBottom" class="corner"></div>
                            </div>
                            <span id="rightArrow" class="arrow"></span>
                            <span id="leftArrow" class="arrow"></span>
                        </button></li>
                        </ul>
                      </li>
                    </ul>
                  </nav><!-- #nav-menu-container -->		    		
                </div>
            </div>
          </header><!-- #header -->


        <!-- start banner Area -->
        <section class="banner-area" id="home">	
            <div class="container">
                <div class="row fullscreen d-flex align-items-center justify-content-start">
                    <div class="banner-content col-lg-7">
                        <h5 class="text-white text-uppercase" style="position: relative; top: 40px;">BOOk ABIA</h5>
                        <h1 class="text-uppercase" style="position: relative; top: 40px;">
                            Libérez votre imagination				
                        </h1>
                        <a href="#" class="btn-shine" style="position: relative; top: -80px;left: 20px;">Créez votre livre avec passion !</a>
                        <!-- <div class="spinner" style="position: relative; left: 80px;">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            </div> -->
                            <!-- <div class="cube-loader" style="position: relative; top: 60px;">
                                <div class="cube-top"></div>
                                <div class="cube-wrapper">
                                    <span style="--i:0" class="cube-span"></span>
                                    <span style="--i:1" class="cube-span"></span>
                                    <span style="--i:2" class="cube-span"></span>
                                    <span style="--i:3" class="cube-span"></span>
                                </div>
                            </div>
                            <div class="cube-loader" style="position: relative; top: 60px;">
                                <div class="cube-top"></div>
                                <div class="cube-wrapper">
                                    <span style="--i:0" class="cube-span"></span>
                                    <span style="--i:1" class="cube-span"></span>
                                    <span style="--i:2" class="cube-span"></span>
                                    <span style="--i:3" class="cube-span"></span>
                                </div>
                            </div>

                            <div class="cube-loader" style="position: absolute;top:290px ; left: 550px;">
                                <div class="cube-top"></div>
                                <div class="cube-wrapper">
                                    <span style="--i:0" class="cube-span"></span>
                                    <span style="--i:1" class="cube-span"></span>
                                    <span style="--i:2" class="cube-span"></span>
                                    <span style="--i:3" class="cube-span"></span>
                                </div>
                            </div>
                            <div class="cube-loader" style="position: absolute;top:370px;left: 550px;">
                                <div class="cube-top"></div>
                                <div class="cube-wrapper">
                                    <span style="--i:0" class="cube-span"></span>
                                    <span style="--i:1" class="cube-span"></span>
                                    <span style="--i:2" class="cube-span"></span>
                                    <span style="--i:3" class="cube-span"></span>
                                </div>
                            </div> -->
                            <svg xmlns="http://www.w3.org/2000/svg" height="200" width="200">
                                <g style="order: -1;">
                                    <polygon transform="rotate(45 100 100)" stroke-width="1" stroke="#d3a410" fill="none"
                                        points="70,70 148,50 130,130 50,150" id="bounce"></polygon>
                                    <polygon transform="rotate(45 100 100)" stroke-width="1" stroke="#d3a410" fill="none"
                                        points="70,70 148,50 130,130 50,150" id="bounce2"></polygon>
                                    <polygon transform="rotate(45 100 100)" stroke-width="2" stroke="" fill="#414750"
                                        points="70,70 150,50 130,130 50,150"></polygon>
                                    <polygon stroke-width="2" stroke="" fill="url(#gradiente)" points="100,70 150,100 100,130 50,100"></polygon>
                                    <defs>
                                        <linearGradient y2="100%" x2="10%" y1="0%" x1="0%" id="gradiente">
                                            <stop style="stop-color: #1e2026;stop-opacity:1" offset="20%"></stop>
                                            <stop style="stop-color:#414750;stop-opacity:1" offset="60%"></stop>
                                        </linearGradient>
                                    </defs>
                                    <polygon transform="translate(20, 31)" stroke-width="2" stroke="" fill="#b7870f"
                                        points="80,50 80,75 80,99 40,75"></polygon>
                                    <polygon transform="translate(20, 31)" stroke-width="2" stroke="" fill="url(#gradiente2)"
                                        points="40,-40 80,-40 80,99 40,75"></polygon>
                                    <defs>
                                        <linearGradient y2="100%" x2="0%" y1="-17%" x1="10%" id="gradiente2">
                                            <stop style="stop-color: #d3a51000;stop-opacity:1" offset="20%"></stop>
                                            <stop style="stop-color:#d3a51054;stop-opacity:1" offset="100%" id="animatedStop"></stop>
                                        </linearGradient>
                                    </defs>
                                    <polygon transform="rotate(180 100 100) translate(20, 20)" stroke-width="2" stroke="" fill="#d3a410"
                                        points="80,50 80,75 80,99 40,75"></polygon>
                                    <polygon transform="rotate(0 100 100) translate(60, 20)" stroke-width="2" stroke="" fill="url(#gradiente3)"
                                        points="40,-40 80,-40 80,85 40,110.2"></polygon>
                                    <defs>
                                        <linearGradient y2="100%" x2="10%" y1="0%" x1="0%" id="gradiente3">
                                            <stop style="stop-color: #d3a51000;stop-opacity:1" offset="20%"></stop>
                                            <stop style="stop-color:#d3a51054;stop-opacity:1" offset="100%" id="animatedStop"></stop>
                                        </linearGradient>
                                    </defs>
                                    <polygon transform="rotate(45 100 100) translate(80, 95)" stroke-width="2" stroke="" fill="#ffe4a1"
                                        points="5,0 5,5 0,5 0,0" id="particles"></polygon>
                                    <polygon transform="rotate(45 100 100) translate(80, 55)" stroke-width="2" stroke="" fill="#ccb069"
                                        points="6,0 6,6 0,6 0,0" id="particles"></polygon>
                                    <polygon transform="rotate(45 100 100) translate(70, 80)" stroke-width="2" stroke="" fill="#fff"
                                        points="2,0 2,2 0,2 0,0" id="particles"></polygon>
                                    <polygon stroke-width="2" stroke="" fill="#292d34" points="29.5,99.8 100,142 100,172 29.5,130"></polygon>
                                    <polygon transform="translate(50, 92)" stroke-width="2" stroke="" fill="#1f2127"
                                        points="50,50 120.5,8 120.5,35 50,80"></polygon>
                                </g>
                            </svg>

                            <button class="button2" style="position: relative; top: -30px;"> <a href="/auth/login" style="text-decoration: none; color: rgba(191, 123, 255, 0.781);">DO IT</a>
                            </button>
                    </div>
                    <div class="col-lg-5 banner-right">
                        <!-- <img class="img-fluid" src="homeStyle/img/header-img.png" alt=""> -->
                        <img class="img-fluid" src="homeStyle/img/mg.png" alt="">
                        <!-- <img class="img-fluid" src="homeStyle/img/hh.png" alt=""> -->
                        <!-- <label class="bb8-toggle" style="position: relative; top: -80px;left: -30px;">
                            <input class="bb8-toggle__checkbox" type="checkbox">
                            <div class="bb8-toggle__container">
                                <div class="bb8-toggle__scenery">
                                    <div class="bb8-toggle__star"></div>
                                    <div class="bb8-toggle__star"></div>
                                    <div class="bb8-toggle__star"></div>
                                    <div class="bb8-toggle__star"></div>
                                    <div class="bb8-toggle__star"></div>
                                    <div class="bb8-toggle__star"></div>
                                    <div class="bb8-toggle__star"></div>
                                    <div class="tatto-1"></div>
                                    <div class="tatto-2"></div>
                                    <div class="gomrassen"></div>
                                    <div class="hermes"></div>
                                    <div class="chenini"></div>
                                    <div class="bb8-toggle__cloud"></div>
                                    <div class="bb8-toggle__cloud"></div>
                                    <div class="bb8-toggle__cloud"></div>
                                </div>
                                <div class="bb8">
                                    <div class="bb8__head-container">
                                        <div class="bb8__antenna"></div>
                                        <div class="bb8__antenna"></div>
                                        <div class="bb8__head"></div>
                                    </div>
                                    <div class="bb8__body"></div>
                                </div>
                                <div class="artificial__hidden">
                                    <div class="bb8__shadow"></div>
                                </div>
                            </div>
                        </label> -->
                    </div>												
                </div>
            </div>
        </section>
        <!-- End banner Area -->	

        <!-- Start about Area -->
       <!-- <section class="section-gap info-area" id="about">
            <div class="container">				
                <div class="single-info row mt-40 align-items-center">
                    <div class="col-lg-6 col-md-12 text-center no-padding info-left">
                        <div class="info-thumb">
                            <img src="https://m.media-amazon.com/images/I/512rfLVYpGL._AC_UF1000,1000_QL80_.jpg" class="img-fluid info-img" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 no-padding info-rigth">
                        <div class="info-content">
                            <h2 class="pb-30">Dr. Travor James</h2>
                            <p>
                                inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women.								
                            </p>
                            <br>
                            <p>
                                inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women. inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women.									
                            </p>
                            <br>
                            <img src="homeStyle/img/signature.png" alt="">
                            </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- End about Area -->
    
        <!-- Start fact Area -->
        <section class="fact-area relative section-gap" id="fact" style="margin-top: 100px;">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-40 col-lg-8">
                        <div class="title text-center">
                            <div class="loader">
                                <div data-glitch="Des fonctionnalités qui nous rendent uniques" class="glitch">Des fonctionnalités qui nous rendent uniques</div>
                            </div>
                            <p>Passionnés par les livres et la créativité.<div class="loading">
                                <svg width="64px" height="48px">
                                    <polyline points="0.157 23.954, 14 23.954, 21.843 48, 43 0, 50 24, 64 24" id="back"></polyline>
                                    <polyline points="0.157 23.954, 14 23.954, 21.843 48, 43 0, 50 24, 64 24" id="front"></polyline>
                                </svg>
                            </div></p>
                        </div>                        
                    </div>
                </div>						
            </div>	
        </section>
        <!-- End fact Area -->
        
        <!-- Start counter Area -->
        <section class="counter-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-counter">
                            <h1 class="counter">50</h1>
                            <p>Utilisateurs</p>								
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-counter">
                            <h1 class="counter">784</h1>
                            <p>Total Livres</p>								
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-counter">
                            <h1 class="counter">1059</h1>
                            <p>Cups Coffee</p>								
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-counter">
                            <h1 class="counter">12239</h1>
                            <p>Tickets Submitted</p>								
                        </div>
                    </div>												
                </div>
            </div>	
        </section>
        <!-- end counter Area -->
        
        <!-- Start price Area -->
        <!-- <section class="price-area section-gap" id="price">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">Purchase whatever you want</h1>
                            <p>Who are in extremely love with eco friendly system.</p>
                        </div>
                    </div>
                </div>						
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-price no-padding">
                            <div class="price-top">
                                <h4>PDF</h4>
                            </div>
                            <p>
                                Who are in extremely love with <br>
                                eco friendly system.
                            </p>
                            <div class="price-bottom">
                                <h1><span>$</span> 79.99</h1>
                                <a href="#" class="primary-btn header-btn">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-price no-padding">
                            <div class="price-top">
                                <h4>E-Book</h4>
                            </div>
                            <p>
                                Who are in extremely love with <br>
                                eco friendly system.
                            </p>
                            <div class="price-bottom">
                                <h1><span>$</span> 99.99</h1>
                                <a href="#" class="primary-btn header-btn">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-price no-padding">
                            <div class="price-top">
                                <h4>Print Copy</h4>
                            </div>
                            <p>
                                Who are in extremely love with <br>
                                eco friendly system.
                            </p>
                            <div class="price-bottom">
                                <h1><span>$</span> 59.99</h1>
                                <a href="#" class="primary-btn">Purchase Now</a>
                            </div>
                        </div>				
                    </div>								
                </div>
            </div>	
        </section> -->
        <!-- End price Area -->
        
        <!-- Start course Area -->
        <section class="course-area section-gap" id="course">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-9">
                        <div class="title text-center">
                            <!-- <h1 class="mb-10">Les meilleurs livres disponibles pour les lecteurs</h1> -->
                            <div class="loader">
                                <p class="text">
                                    Les meilleurs livres disponibles pour les lecteurs<br>Pour les amoureux de la lecture et de la découverte.
                                </p>
                            </div>
                            <!-- <p>Pour les amoureux de la lecture et de la découverte.</p> -->
                        </div>                        
                    </div>
                </div>						
                <div class="row">
                    <div class="active-course-carusel">
                        <div class="single-course item">
                            <img class="img-fluid" style="height:550px;" src="https://marketplace.canva.com/EADzX9gO-jc/1/0/1003w/canva-coucher-de-soleil-histoire-d%27amour-e-book-couverture-uK1z20759kQ.jpg" alt="">
                            <button class="BtnKI" style="position: relative; right: 6px;top: -1px;">
                                <span class="leftContainer">
                                    <svg fill="white" viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z">
                                        </path>
                                    </svg>
                                    <span class="like">Like</span>
                                </span>
                                <span class="likeCount">
                                    3,123
                                </span>
                            </button>
                            <button class="Btn" style="position: relative; top: -45px; left: 180px;">
                                <svg class="svgIcon" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                    </path>
                                </svg>
                                <span class="icon2"></span>
                                <span class="tooltip">Download</span>
                            </button>
                            <button class="buttonLPL" style="position: relative;top: -165px; left: 290px;">
                                <a href="/books/details" style="text-decoration: none;">
                                <span class="span">🔎</span>
                                </a>
                            </button>
                            
                            <div class="details" style="margin-top: -90px;">
                                <a href="#"><h4>Breakthrough Thinking <span class="price float-right">$25</span></h4></a>	
                                <div class="rating">
                                    <input value="5" name="rating" id="star5" type="radio">
                                    <label for="star5"></label>
                                    <input value="4" name="rating" id="star4" type="radio">
                                    <label for="star4"></label>
                                    <input value="3" name="rating" id="star3" type="radio">
                                    <label for="star3"></label>
                                    <input value="2" name="rating" id="star2" type="radio">
                                    <label for="star2"></label>
                                    <input value="1" name="rating" id="star1" type="radio">
                                    <label for="star1"></label>
                                  </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                </p>
                            </div>
                        </div>
                        <div class="single-course item">
                            <img class="img-fluid" style="height:550px;" src="https://marketplace.canva.com/EADt53vT97k/1/0/1024w/canva-couverture-de-livre-thriller-de-for%C3%AAt-monochrome-avec-photo-ru7EpeXq8wM.jpg" alt="">
                            <button class="BtnKI" style="position: relative; right: 6px;top: -1px;">
                                <span class="leftContainer">
                                    <svg fill="white" viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z">
                                        </path>
                                    </svg>
                                    <span class="like">Like</span>
                                </span>
                                <span class="likeCount">
                                    2,050
                                </span>
                            </button>
                            <button class="Btn" style="position: relative; top: -45px; left: 180px;">
                                <svg class="svgIcon" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                    </path>
                                </svg>
                                <span class="icon2"></span>
                                <span class="tooltip">Download</span>
                            </button>
                            <button class="buttonLPL" style="position: relative;top: -165px; left: 290px;">
                                <a href="/books/details" style="text-decoration: none;">
                                    <span class="span">🔎</span>
                                </a>
                            </button>
                            <div class="details" style="margin-top: -90px;">
                                <a href="#"><h4>Breakthrough Thinking <span class="price float-right">$25</span></h4></a>
                                <div class="rating">
                                    <input value="5" name="rating" id="star5" type="radio">
                                    <label for="star5"></label>
                                    <input value="4" name="rating" id="star4" type="radio">
                                    <label for="star4"></label>
                                    <input value="3" name="rating" id="star3" type="radio">
                                    <label for="star3"></label>
                                    <input value="2" name="rating" id="star2" type="radio">
                                    <label for="star2"></label>
                                    <input value="1" name="rating" id="star1" type="radio">
                                    <label for="star1"></label>
                                  </div>	
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                </p>
                            </div>
                        </div>
                        <div class="single-course item">
                            <img class="img-fluid" style="height:550px;" src="https://www.babelio.com/users/blobid1641487673843.jpg" alt="">
                            <button class="BtnKI" style="position: relative; right: 6px;top: -1px;">
                                <span class="leftContainer">
                                    <svg fill="white" viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z">
                                        </path>
                                    </svg>
                                    <span class="like">Like</span>
                                </span>
                                <span class="likeCount">
                                    2,050
                                </span>
                            </button>
                            <button class="Btn" style="position: relative; top: -45px; left: 180px;">
                                <svg class="svgIcon" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                    </path>
                                </svg>
                                <span class="icon2"></span>
                                <span class="tooltip">Download</span>
                            </button>
                            <button class="buttonLPL" style="position: relative;top: -165px; left: 290px;">
                                <a href="/books/details" style="text-decoration: none;">
                                    <span class="span">🔎</span>
                                </a>
                            </button>
                            <div class="details" style="margin-top: -90px;">
                                <a href="#"><h4>Breakthrough Thinking <span class="price float-right">$25</span></h4></a>
                                <div class="rating">
                                    <input value="5" name="rating" id="star5" type="radio">
                                    <label for="star5"></label>
                                    <input value="4" name="rating" id="star4" type="radio">
                                    <label for="star4"></label>
                                    <input value="3" name="rating" id="star3" type="radio">
                                    <label for="star3"></label>
                                    <input value="2" name="rating" id="star2" type="radio">
                                    <label for="star2"></label>
                                    <input value="1" name="rating" id="star1" type="radio">
                                    <label for="star1"></label>
                                  </div>	
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                </p>
                            </div>
                        </div>								
                    </div>											
                </div>
            </div>	
        </section>
        <!-- End course Area -->
        
        <!-- Start call-to-action Area -->
        <!-- <section class="call-to-action-area section-gap">
            <div class="container">
                <div class="row justify-content-center top">
                    <div class="col-lg-12">
                        <h1 class="text-white text-center">Download Our App for all Platforms</h1>
                        <p class="text-white text-center mt-30">
                            It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its popularity and technological advancement are concerned.
                        </p>							
                    </div>
                </div>
                <div class="row justify-content-center d-flex">	
                    <div class="download-button d-flex flex-row justify-content-center mt-30">		
                        <div class="buttons flex-row d-flex">
                            <i class="fa fa-apple" aria-hidden="true"></i>
                            <div class="desc">
                                <a href="#">
                                    <p>
                                        <span>Available</span> <br>
                                        on App Store
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="buttons flex-row d-flex">
                            <i class="fa fa-android" aria-hidden="true"></i>
                            <div class="desc">
                                <a href="#">
                                    <p>
                                        <span>Available</span> <br>
                                        on Play Store
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>						
                </div>
            </div>	
        </section> -->
        <!-- End call-to-action Area -->

        <section class="call-to-action-area section-gap">
            <div class="container">
                <div class="row justify-content-center top">
                    <div class="col-lg-12">
                        <h1 class="text-white text-center">Découvrez notre collection de livres</h1>
                        <p class="text-white text-center mt-30">
                            Explorez notre vaste bibliothèque de livres couvrant un large éventail de genres et de sujets. Que vous aimiez la fiction, la non-fiction, les livres de développement personnel ou les classiques, nous avons quelque chose pour tout le monde.
                        </p>							
                    </div>
                </div>
                <div class="row justify-content-center d-flex">	
                    <div class="download-button d-flex flex-row justify-content-center mt-30">		
                        <div class="buttons flex-row d-flex">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            <div class="desc">
                                <a href="#">
                                    <p>
                                        <span>Voir</span> <br>
                                        Notre Collection
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="buttons flex-row d-flex">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <div class="desc">
                                <a href="#">
                                    <p>
                                        <span>Rechercher</span> <br>
                                        des Livres
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="buttons flex-row d-flex">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            <div class="desc">
                                <a href="#">
                                    <p>
                                        <span>Télécharger</span> <br>
                                        Notre Application
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>						
                </div>
            </div>	
        </section>
        
        <!-- Start testomial Area -->
        <section id="mea" class="testomial-area section-gap">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-8">
                        <div class="title text-center">
                            <div class="loader">
                                <p class="text">
                                    Ce que disent les meilleurs auteurs à notre sujet<br>Des voix de l'excellence littéraire qui apprécient notre système.
                                </p>
                            </div>
                        </div>                        
                    </div>
                </div>						
                <div class="row">
                    <div class="active-tstimonial-carusel">
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="homeStyle/img/t1.png" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Mark Alviro Wiens</h4>
                            <p>
                                CEO at Google
                            </p>
                        </div>
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="img/t2.png" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Mark Alviro Wiens</h4>
                            <p>
                                CEO at Google
                            </p>
                        </div>
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="homeStyle/img/t3.png" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Mark Alviro Wiens</h4>
                            <p>
                                CEO at Google
                            </p>
                        </div>	
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="homeStyle/img/t1.png" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Mark Alviro Wiens</h4>
                            <p>
                                CEO at Google
                            </p>
                        </div>
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="homeStyle/img/t2.png" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Mark Alviro Wiens</h4>
                            <p>
                                CEO at Google
                            </p>
                        </div>
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="homeStyle/img/t3.png" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Mark Alviro Wiens</h4>
                            <p>
                                CEO at Google
                            </p>
                        </div>															
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="homeStyle/img/t1.png" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Mark Alviro Wiens</h4>
                            <p>
                                CEO at Google
                            </p>
                        </div>
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="homeStyle/img/t2.png" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Mark Alviro Wiens</h4>
                            <p>
                                CEO at Google
                            </p>
                        </div>
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="homeStyle/img/t3.png" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Mark Alviro Wiens</h4>
                            <p>
                                CEO at Google
                            </p>
                        </div>														
                    </div>
                </div>
            </div>	
        </section>
        <!-- End testomial Area -->
        
        

        <!-- start footer Area -->		
        <footer class="footer-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>À propos de nous</h6>
                            <p>
                                Bienvenue sur BOOK ABIA, la plateforme dédiée aux amoureux de la lecture et de l'écriture.
                            </p>
                            <p class="footer-text">
                                <!-- Le lien vers Colorlib ne peut être supprimé. Le modèle est sous licence CC BY 3.0. -->
                                Droits d'auteur &copy;<script>document.write(new Date().getFullYear());</script> Tous droits réservés | Ce modèle est réalisé avec <i class="fa fa-heart-o" aria-hidden="true"></i> par <a href="https://colorlib.com" target="_blank">Abdelali MOUTAWASSIT</a>
                                <!-- Le lien vers Colorlib ne peut être supprimé. Le modèle est sous licence CC BY 3.0. -->
                            </p>								
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>Newsletter</h6>
                            <p>Restez informé de nos dernières nouveautés</p>
                            <div class="" id="mc_embed_signup">
                                <form target="_blank" novalidate="true" action="#" method="get" class="form-inline">
                                    <input class="form-control" name="EMAIL" placeholder="Entrez votre e-mail" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Entrez votre e-mail'" required="" type="email">
                                    <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                    </div>
                                    <div class="info"></div>
                                </form>
                            </div>
                        </div>
                    </div>						
                    <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                        <div class="single-footer-widget">
                            <h6>Suivez-nous</h6>
                            <p>Restons connectés</p>
                            <div class="footer-social d-flex align-items-center">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>							
                </div>
            </div>
        </footer>
            
        <!-- End footer Area -->	

        <script src="homeStyle/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="homeStyle/js/vendor/bootstrap.min.js"></script>			
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
          <script src="homeStyle/js/easing.min.js"></script>			
        <script src="homeStyle/js/hoverIntent.js"></script>
        <script src="homeStyle/js/superfish.min.js"></script>	
        <script src="homeStyle/js/jquery.ajaxchimp.min.js"></script>
        <script src="homeStyle/js/jquery.magnific-popup.min.js"></script>	
        <script src="homeStyle/js/owl.carousel.min.js"></script>			
        <script src="homeStyle/js/jquery.sticky.js"></script>
        <script src="homeStyle/js/jquery.nice-select.min.js"></script>			
        <script src="homeStyle/js/parallax.min.js"></script>	
        <script src="homeStyle/js/waypoints.min.js"></script>
        <script src="homeStyle/js/jquery.counterup.min.js"></script>			
        <script src="homeStyle/js/mail-script.js"></script>	
        <script src="homeStyle/js/main.js"></script>	
    </body>
</html>



